MONGO_URI=<PUT YOUR MONGODB CONNECTION STRING>
PORT=3000
GEMINI_API_KEY=<PUT YOUR GOOGLE GEMINI API KEY HERE>
PINECONE_API_KEY=<PUT YOUR PINECONE API KEY HERE>
PINECONE_INDEX=<PUT YOUR PINECONE INDEX HERE>